.header {

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 112px;
    }

    &__logo {
        font-size: 24px;
        font-weight: 700;
        line-height: 36 / 24 * 100%;
        padding: 0px 5px 0px 49px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: inline-block;
            margin-right: 3.79px;

            & img {
                max-width: 30px;
            }
        }
    }

    &__menu {
        padding: 0px 0px 0px 10px;
    }

    @media (max-width:1024px) {
        &__body {
            min-height: 90px;

        }

        &__logo {
            font-size: 20px;
            padding: 0px 5px 0px 15px;
        }
    }

    @media (max-width:992px) {
        &__body {
            min-height: 80px;

        }

        &__logo {
            font-size: 15px;
            padding: 0px 5px 0px 10px;
        }
    }
}

.menu {


    &__list {
        display: flex;
    }


    &__item:not(:last-child) {
        padding: 0px 42px 0px 0px;
    }


    &__link {
        line-height: 24 / 16 * 100%;
        transition: all .5s ease;
    }

    &__link:hover {
        color: $OrangeColor;
        text-shadow: 0 0 .65px $OrangeColor, 0 0 .65px $OrangeColor;
    }

    @media (max-width: 1024px) {
        &__item:not(:last-child) {
            padding: 0px 35px 0px 0px;
        }

        &__link {
            font-size: 13px;
        }

    }

    @media (max-width:992px) {
        &__item:not(:last-child) {
            padding: 0px 30px 0px 0px;
        }

        &__link {
            font-size: 10px;
        }
    }

    @media (max-width:660px) {
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        &__item:not(:last-child) {
            padding: 0px 0px 10px 0px;
        }
    }
}